.login-form {
  min-height: 360px!important;
}
.login-form p {
  margin: 0px;
  font-weight: bold;
  color: #333;
  text-align: left;
  padding: 0;
}
.loginTop {
  font-size: 14px;
  color: #007bff;
  height: 30px;
  padding-bottom: 10px;
}
.loginError {
  font-size: 1em;
  color: red;
}
